dokumentacja projektu zaliczeniowego (2).docx
SFML2/license.md
SFML2/readme.md
SFML2/bin/openal32.dll
SFML2/include/SFML/Audio.hpp
SFML2/include/SFML/Config.hpp
SFML2/include/SFML/GpuPreference.hpp
SFML2/include/SFML/Graphics.hpp
SFML2/include/SFML/Main.hpp
SFML2/include/SFML/Network.hpp
SFML2/include/SFML/OpenGL.hpp
SFML2/include/SFML/System.hpp
SFML2/include/SFML/Window.hpp
SFML2/include/SFML/Audio/AlResource.hpp
SFML2/include/SFML/Audio/Export.hpp
SFML2/include/SFML/Audio/InputSoundFile.hpp
SFML2/include/SFML/Audio/Listener.hpp
SFML2/include/SFML/Audio/Music.hpp
SFML2/include/SFML/Audio/OutputSoundFile.hpp
SFML2/include/SFML/Audio/Sound.hpp
SFML2/include/SFML/Audio/SoundBuffer.hpp
SFML2/include/SFML/Audio/SoundBufferRecorder.hpp
SFML2/include/SFML/Audio/SoundFileFactory.hpp
SFML2/include/SFML/Audio/SoundFileFactory.inl
SFML2/include/SFML/Audio/SoundFileReader.hpp
SFML2/include/SFML/Audio/SoundFileWriter.hpp
SFML2/include/SFML/Audio/SoundRecorder.hpp
SFML2/include/SFML/Audio/SoundSource.hpp
SFML2/include/SFML/Audio/SoundStream.hpp
SFML2/include/SFML/Graphics/BlendMode.hpp
SFML2/include/SFML/Graphics/CircleShape.hpp
SFML2/include/SFML/Graphics/Color.hpp
SFML2/include/SFML/Graphics/ConvexShape.hpp
SFML2/include/SFML/Graphics/Drawable.hpp
SFML2/include/SFML/Graphics/Export.hpp
SFML2/include/SFML/Graphics/Font.hpp
SFML2/include/SFML/Graphics/Glsl.hpp
SFML2/include/SFML/Graphics/Glsl.inl
SFML2/include/SFML/Graphics/Glyph.hpp
SFML2/include/SFML/Graphics/Image.hpp
SFML2/include/SFML/Graphics/PrimitiveType.hpp
SFML2/include/SFML/Graphics/Rect.hpp
SFML2/include/SFML/Graphics/Rect.inl
SFML2/include/SFML/Graphics/RectangleShape.hpp
SFML2/include/SFML/Graphics/RenderStates.hpp
SFML2/include/SFML/Graphics/RenderTarget.hpp
SFML2/include/SFML/Graphics/RenderTexture.hpp
SFML2/include/SFML/Graphics/RenderWindow.hpp
SFML2/include/SFML/Graphics/Shader.hpp
SFML2/include/SFML/Graphics/Shape.hpp
SFML2/include/SFML/Graphics/Sprite.hpp
SFML2/include/SFML/Graphics/Text.hpp
SFML2/include/SFML/Graphics/Texture.hpp
SFML2/include/SFML/Graphics/Transform.hpp
SFML2/include/SFML/Graphics/Transformable.hpp
SFML2/include/SFML/Graphics/Vertex.hpp
SFML2/include/SFML/Graphics/VertexArray.hpp
SFML2/include/SFML/Graphics/VertexBuffer.hpp
SFML2/include/SFML/Graphics/View.hpp
SFML2/include/SFML/Network/Export.hpp
SFML2/include/SFML/Network/Ftp.hpp
SFML2/include/SFML/Network/Http.hpp
SFML2/include/SFML/Network/IpAddress.hpp
SFML2/include/SFML/Network/Packet.hpp
SFML2/include/SFML/Network/Socket.hpp
SFML2/include/SFML/Network/SocketHandle.hpp
SFML2/include/SFML/Network/SocketSelector.hpp
SFML2/include/SFML/Network/TcpListener.hpp
SFML2/include/SFML/Network/TcpSocket.hpp
SFML2/include/SFML/Network/UdpSocket.hpp
SFML2/include/SFML/System/Clock.hpp
SFML2/include/SFML/System/Err.hpp
SFML2/include/SFML/System/Export.hpp
SFML2/include/SFML/System/FileInputStream.hpp
SFML2/include/SFML/System/InputStream.hpp
SFML2/include/SFML/System/Lock.hpp
SFML2/include/SFML/System/MemoryInputStream.hpp
SFML2/include/SFML/System/Mutex.hpp
SFML2/include/SFML/System/NativeActivity.hpp
SFML2/include/SFML/System/NonCopyable.hpp
SFML2/include/SFML/System/Sleep.hpp
SFML2/include/SFML/System/String.hpp
SFML2/include/SFML/System/String.inl
SFML2/include/SFML/System/Thread.hpp
SFML2/include/SFML/System/Thread.inl
SFML2/include/SFML/System/ThreadLocal.hpp
SFML2/include/SFML/System/ThreadLocalPtr.hpp
SFML2/include/SFML/System/ThreadLocalPtr.inl
SFML2/include/SFML/System/Time.hpp
SFML2/include/SFML/System/Utf.hpp
SFML2/include/SFML/System/Utf.inl
SFML2/include/SFML/System/Vector2.hpp
SFML2/include/SFML/System/Vector2.inl
SFML2/include/SFML/System/Vector3.hpp
SFML2/include/SFML/System/Vector3.inl
SFML2/include/SFML/Window/Clipboard.hpp
SFML2/include/SFML/Window/Context.hpp
SFML2/include/SFML/Window/ContextSettings.hpp
SFML2/include/SFML/Window/Cursor.hpp
SFML2/include/SFML/Window/Event.hpp
SFML2/include/SFML/Window/Export.hpp
SFML2/include/SFML/Window/GlResource.hpp
SFML2/include/SFML/Window/Joystick.hpp
SFML2/include/SFML/Window/Keyboard.hpp
SFML2/include/SFML/Window/Mouse.hpp
SFML2/include/SFML/Window/Sensor.hpp
SFML2/include/SFML/Window/Touch.hpp
SFML2/include/SFML/Window/VideoMode.hpp
SFML2/include/SFML/Window/Window.hpp
SFML2/include/SFML/Window/WindowHandle.hpp
SFML2/include/SFML/Window/WindowStyle.hpp
SFML2/lib/libFLAC.a
SFML2/lib/libfreetype.a
SFML2/lib/libogg.a
SFML2/lib/libopenal32.a
SFML2/lib/libsfml-audio-s.a
SFML2/lib/libsfml-graphics-s.a
SFML2/lib/libsfml-main.a
SFML2/lib/libsfml-network-s.a
SFML2/lib/libsfml-system-s.a
SFML2/lib/libsfml-window-s.a
SFML2/lib/libvorbis.a
SFML2/lib/libvorbisenc.a
SFML2/lib/libvorbisfile.a
SFML2/lib/cmake/SFML/SFMLConfig.cmake
SFML2/lib/cmake/SFML/SFMLConfigDependencies.cmake
SFML2/lib/cmake/SFML/SFMLConfigVersion.cmake
SFML2/lib/cmake/SFML/SFMLStaticTargets-release.cmake
SFML2/lib/cmake/SFML/SFMLStaticTargets.cmake
a.exe
Apple.obj
g++
Game.obj
Lives.obj
.gitignore
.gitignore
GameFont.obj
Score.obj
sfml.obj
Snake.obj
vcvarsetup.bat
.gitignore
